  <div ng-include src="'/views/template.html'"></div>
<div class="section">
	<h4>{{headingTitle}}</h4>

	<md-content> <md-tabs md-dynamic-height md-border-bottom>

	<md-tab label="CUSTOMER"> <md-content class="md-padding">

	<h6 class="md-display">CUSTOMER REPORT</h6>
	<div class="row">
		<div class="col-xs-12" id="custviz"></div>
	</div>

	</md-content> </md-tab> <md-tab label="ACCOUNT"> <md-content class="md-padding">
	<h6 class="md-display">ACCOUNT DETAILS</h6>
	<div class="row">

		<div id="output"></div>
	</div>



	</md-content> </md-tab> </md-tabs> </md-content>
</div>


