
  <div ng-include src="'/views/template.html'"></div>
			<div class="img-container">
				<img src="images/uob_image1.jpg" alt="Snow" style="width:100%;">
				<!-- <div class="bottom-left">Bottom Left</div>
				<div class="top-left">Top Left</div>-->
				<div class="top-right">
					<h3>Enterprise Data Architecture and Governance</h3>
					<h5>UOB's Data Platform</h5>
				</div>				
				<!--<div class="bottom-right">Bottom Right</div>
				<div class="centered">
					<h2>Enterprise Data Architecture and Governance</h2>
					<h4>UOB's Data Platform</h4>
				</div>-->
			</div>
			<br>
			<!-- grid content -->
			
			<div class="row">
				<div class="col">
					<p>
						If you don't like a test prompt, you can get a different (random) prompt with the "change test" button - or select a general topic to type from the list below. To find out how fast you type, just start typing in the blank textbox on the right of the test prompt. You will see your progress, including errors on the left side as you type. In order to complete the test and save your score, you need to get 100% accuracy. You can fix errors as you go, or correct them at the end with the help of the spell checker.
					</p>
				</div>
				<div class="col">
					<p>
						If you don't like a test prompt, you can get a different (random) prompt with the "change test" button - or select a general topic to type from the list below. To find out how fast you type, just start typing in the blank textbox on the right of the test prompt. You will see your progress, including errors on the left side as you type. In order to complete the test and save your score, you need to get 100% accuracy. You can fix errors as you go, or correct them at the end with the help of the spell checker.
					</p>
				
				</div>
				<div class="col">
					<p>
						If you don't like a test prompt, you can get a different (random) prompt with the "change test" button - or select a general topic to type from the list below. To find out how fast you type, just start typing in the blank textbox on the right of the test prompt. You will see your progress, including errors on the left side as you type. In order to complete the test and save your score, you need to get 100% accuracy. You can fix errors as you go, or correct them at the end with the help of the spell checker.
					</p>
				</div>
			</div>
			
			<footer class="page-footer font-small special-color-dark pt-4">

			  <!-- Footer Elements -->
			  <div class="container">

				<!--Grid row-->
				<div class="row">

				  <!--Grid column-->
				  <div class="col-md-6 mb-4">

				  </div>
				  <!--Grid column-->

				  <!--Grid column-->
				  <div class="col-md-6 mb-4">
				  </div>
				  <!--Grid column-->

				</div>
				<!--Grid row-->

			  </div>
			  <!-- Footer Elements -->

			  <!-- Copyright -->
			  <div class="footer-copyright text-center py-3">
				Copyright 2019 United Overseas Bank Limited Co. <br>
				Reg. No. 193500026Z. All Rights Reserved.
			  </div>
			  <!-- Copyright -->

			</footer>
			<!-- Footer -->	