<!-- -loadStatus -->
  <div ng-include src="'/views/template.html'"></div>
<div class="section">
	<h5>{{headingTitle}}</h5>
	<md-content> <md-tabs md-dynamic-height md-border-bottom>


	<!-- <md-tab label="Summary"> <md-content class="md-padding">

	<div class="row d-flex justify-content-center">
		<div class="column">
			<h5>{{today}} DATA LAKE (T1) batch progress...</h5>
		</div>
	</div>
	<div class="row">

		<div class="column">
			<div id="T1Summary"></div>
		</div>
	</div>
	<br />
	<div class="row d-flex justify-content-center">
		<div class="column">
			<h5>{{today}} DATA LAKE - FRR (T1) batch progress...</h5>
		</div>
	</div>
	<div class="row">

		<div class="column">
			<div id="frrT1Summary"></div>
		</div>
	</div>
	<br />
	<div class="row d-flex justify-content-center">
		<div class="column">
			<h5>{{today}} EDW (T1.4) progress...</h5>
		</div>
	</div>

	<div class="row">
		<div class="column">
			<div id="T14Summary"></div>
		</div>
	</div>
	<br />
	<div class="row d-flex justify-content-center">
		<div class="column">
			<h5>{{today}} EDW (T1.5) progress...</h5>
		</div>
	</div>

	<div class="row">

		<div class="column">
			<div id="T15Summary"></div>
		</div>
	</div>
	<br />
	<div class="row d-flex justify-content-center">
		<div class="column">
			<h5>{{today}} EDW (T2) progress...</h5>
		</div>
	</div>



	<div class="row">

		<div class="column">
			<div id="T2Summary"></div>
		</div>
	</div>
	<br />
	<div class="row d-flex justify-content-center">
		<div class="column">
			<h5>{{today}} FRR (T3) progress...</h5>
		</div>
	</div>


	<div class="row">

		<div class="column">
			<div id="T3Summary"></div>
		</div>
	</div>


	</md-content> </md-tab>
	
	-->
	 <md-tab label="DATA LAKE (T1)"> <md-content
		class="md-padding">


	<div class="row">
		<div class="column">
			<div id="outputt1"></div>
		</div>
	</div>
	</md-content> </md-tab>  
	
	
	
	<md-tab label="DATA LAKE - FRR (T1)"> <md-content
		class="md-padding">


	<div class="row">
		<div class="column">
			<div id="frroutputt1"></div>
		</div>
	</div>
	</md-content> </md-tab> <md-tab label="EDW (T1.4)"> <md-content class="md-padding">
	<!-- <h6 class="md-display">EDW(T2)</h5>  -->

	<div class="row">
		<div class="column">
			<div id="outputT14"></div>
		</div>
	</div>

	</md-content> </md-tab> <md-tab label="EDW (T1.5)"> <md-content class="md-padding">
	<!-- <h6 class="md-display">EDW(T2)</h5>  -->

	<div class="row">
		<div class="column">
			<div id="outputT15"></div>
		</div>
	</div>

	</md-content> </md-tab> <md-tab label="EDW (T2)"> <md-content class="md-padding">
	<!-- <h6 class="md-display">EDW(T2)</h5>  -->

	<div class="row">
		<div class="column">
			<div id="outputT2"></div>
		</div>
	</div>


	</md-content> </md-tab> <md-tab label="FRR (T3)"> <md-content class="md-padding">
	<div class="row">
		<div class="column">
			<div id="outputT3"></div>
		</div>
	</div>


	</md-content> </md-tab> </md-tabs> </md-content>
</div>

