
<div ng-include src="'/views/template.html'"></div>
<div class="container-fluid">
	<div class="section">
		<div class="row">
			<div class="col-md-6">
				<h4>{{headingTitle}}</h4>
			</div>

			<div class="col-md-6 text-right">
				<a href="../images/idcp.pdf" target="_blank">User guide to get
					access</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<div class="card">
					<div class="card-header bg-info text-center font-weight-bold">HUE</div>
					<div class="card-body">
						<div>
							<img src="../images/hue-tool.jpg" class="toolimg rounded mx-auto d-block">
							<p></p>
						</div>
						<p class="card-text">Single web-based user interface for
							multiple tools like Hive, Impala, Oozie etc.,</p>
						<div class="row">
							<div class="col-sm">
								<a href="https://apledapsg02.sg.uobnet.com:8888" target="_blank"
									class="btn btn-primary">Production</a>
							</div>
							<div class="col-sm">
								<a href="https://apledausg02.sg.uobnet.com:8888" target="_blank"
									class="btn btn-primary">UAT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card">
					<div class="card-header bg-info text-center font-weight-bold">Qlik
						T4 - Power & Analyst User</div>
					<div class="card-body">
						<div>
							<img src="../images/qlik-tool.png"
								class="toolimg rounded mx-auto d-block">
							<p></p>
						</div>
						<p class="card-text">Develop analytical reports and
							dashboards, analyze data via dynamic and interactive
							visualizations</p>
						<div class="row">
							<div class="col-sm">
								<a href="https://ntedapsgv01.sg.uobnet.com/design"
									target="_blank" class="btn btn-primary ">Production</a>
							</div>
							<div class="col-sm">
								<a href="https://ntedausgv11.sg.uobnet.com/design"
									target="_blank" class="btn btn-primary">UAT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card">
					<div class="card-header bg-info text-center font-weight-bold">Qlik
						T4 - App Admin User</div>
					<div class="card-body">
						<div>
							<img src="../images/qlik-tool.png"
								class="toolimg rounded mx-auto d-block">
							<p></p>
						</div>
						<p class="card-text">Manage application admin activities like
							publish/unpublish reports and dashboards etc.,</p>
						<div class="row">
							<div class="col-sm">
								<a href="https://ntedapsgv01.sg.uobnet.com/qmc" target="_blank"
									class="btn btn-primary ">Production</a>
							</div>
							<div class="col-sm">
								<a href="https://ntedausgv11.sg.uobnet.com/hub" target="_blank"
									class="btn btn-primary">UAT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card">
					<div class="card-header bg-info text-center font-weight-bold">Qlik
						T4 - END User</div>
					<div class="card-body">
						<div>
							<img src="../images/qlik-tool.png"
								class="toolimg rounded mx-auto d-block">
							<p></p>
						</div>
						<p class="card-text">View analytical reports and dashboards,
							analyze data via dynamic and interactive visualizations</p>
						<div class="row">
							<div class="col-sm">
								<a href="https://ntedapsgv01.sg.uobnet.com/hub" target="_blank"
									class="btn btn-primary ">Production</a>
							</div>
							<div class="col-sm">
								<a href="https://ntedausgv11.sg.uobnet.com/hub" target="_blank"
									class="btn btn-primary">UAT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-sm-3">
				<div class="card">
					<div class="card-header bg-info text-center font-weight-bold">Informatica
						- IDL</div>
					<div class="card-body">
						<div>
							<img src="../images/informatica-tool.png"
								class="toolimg rounded mx-auto d-block">
							<p></p>
						</div>
						<p class="card-text">Data Preparation Tool</p>
						<div class="row">
							<div class="col-sm">
								<a href="http://apledapsg31.sg.uobnet.com:9025/idl"
									target="_blank" class="btn btn-primary ">Production</a>
							</div>
							<div class="col-sm">
								<a href="http://apledausg13.sg.uobnet.com:9045/idl"
									target="_blank" class="btn btn-primary">UAT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card">
					<div class="card-header bg-info text-center font-weight-bold">Informatica
						- Catalog</div>
					<div class="card-body">
						<div>
							<img src="../images/informatica-tool.png"
								class="toolimg rounded mx-auto d-block">
							<p></p>
						</div>
						<p class="card-text">Data Catalog Tool</p>
						<div class="row">
							<div class="col-sm">
								<a href="http://apledapsg31.sg.uobnet.com:9085/ldmcatalog"
									target="_blank" class="btn btn-primary ">Production</a>
							</div>
							<div class="col-sm">
								<a href="http://apledausg13.sg.uobnet.com:9085/ldmcatalog"
									target="_blank" class="btn btn-primary">UAT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card">
					<div class="card-header bg-info text-center font-weight-bold">Informatica
						- Analyst Profiling</div>
					<div class="card-body">
						<div>
							<img src="../images/informatica-tool.png"
								class="toolimg rounded mx-auto d-block">
							<p></p>
						</div>
						<p class="card-text">Data Profiling Tool</p>
						<div class="row">
							<div class="col-sm">
								<a href="http://apledapsg24.sg.uobnet.com:18085/analyst/"
									target="_blank" class="btn btn-primary ">Production</a>
							</div>
							<div class="col-sm">
								<a href="http://apledausg12.sg.uobnet.com:18085/analyst/"
									target="_blank" class="btn btn-primary">UAT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card">
					<div class="card-header bg-info text-center font-weight-bold">Informatica
						- BG</div>
					<div class="card-body">
						<div>
							<img src="../images/informatica-tool.png"
								class="toolimg rounded mx-auto d-block">
							<p></p>
						</div>
						<p class="card-text">Enterprise Business Glossary Tool</p>
						<div class="row">
							<div class="col-sm">
								<a href="http://lxedapsg04:8085/analyst/"
									target="_blank" class="btn btn-primary ">Production</a>
							</div>
							<div class="col-sm">
								<a href="http://lxedausg14:8085/analyst/"
									target="_blank" class="btn btn-primary">UAT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-sm-3">
				<div class="card">
					<div class="card-header bg-info text-center font-weight-bold">Microsoft R</div>
					<div class="card-body">
						<div>
							<img src="../images/r-tool.png"
								class="toolimg rounded mx-auto d-block">
							<p></p>
						</div>
						<p class="card-text">Programming language tool for data mining and machine learning</p>
						<div class="row">
							<div class="col-sm">
								<a href="http://apledapsg23.sg.uobnet.com:8787/"
									target="_blank" class="btn btn-primary ">Production</a>
							</div>
							<div class="col-sm">
								<a href="http://apledausg13.sg.uobnet.com:8787/"
									target="_blank" class="btn btn-primary">UAT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card">
					<div class="card-header bg-info text-center font-weight-bold">Power BI
						</div>
					<div class="card-body">
						<div>
							<img src="../images/pbi-tool.jpg"
								class="toolimg rounded mx-auto d-block">
							<p></p>
						</div>
						<p class="card-text">Develop analytical reports and dashboards, analyze data via dynamic and interactive visualizations</p>
						<div class="row">
							<div class="col-sm">
								<a href="http://apledapsg02.sg.uobnet.com:15100/"
									target="_blank" class="btn btn-primary ">Production</a>
							</div>
							<div class="col-sm">
								<a href="http://apledausg02.sg.uobnet.com:15100/"
									target="_blank" class="btn btn-primary">UAT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card">
					<div class="card-header bg-info text-center font-weight-bold">Cloudera Workbench
						</div>
					<div class="card-body">
						<div>
							<img src="../images/cdsw-tool.png"
								class="toolimg rounded mx-auto d-block">
							<p></p>
						</div>
						<p class="card-text">CDSW engines are preloaded with a few common packages and libraries for R, Python, and Scala</p>
						<div class="row">
							<div class="col-sm">
								<a href="https://cdsw.sg.uobnet.com/"
									target="_blank" class="btn btn-primary ">Production</a>
							</div>
							<!-- 
							<div class="col-sm">
								<a href="#"
									target="_blank" class="btn btn-primary">UAT</a>
							</div>
							-->
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
	</div>
</div>